.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.timeOutScreen {
    color: red;
    text-align: center;
    font-size: 40px;
}

.clockSpacing{
    padding-left: 25%;
}

.form{
    margin-left: 40%;
    margin-top: 30px;
}

.errorDiv {
    width: 100%;
    color: white;
    height: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;

}

.errorDivAnnimation{
    animation: disappear 0s ease-in 3s forwards;
}

.hidden{
    display:none;
}

errorText{
    font-size: 40px;
}

@keyframes disappear {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}